@inherits LayoutComponentBase

<div class="page">
    <main>
        <article class="content px-4 container mb-3">
            @Body

            <hr/>

            <span class="d-block p-2 text-bg-dark">所有遊戲原始數據與原始圖片畫作均為原遊戲公司 NCSOFT 所有。</span>

            <a class="btn btn-outline-info" href="https://sdwh.dev/about/" target="_blank">About</a>
        </article>
    </main>
</div>
